html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#container {
    /* background: yellow; */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#inputLabel {
    font-size: 15pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: red; */
    text-align: center;
    position: relative;
    top: 30%;
}

#resultContainer {
    /* background: red; */
    position: relative;
    top:68.75%;
    text-align: center;
    height:85px;
}
#clear {
    margin: 0 auto;
    position: relative;
    left:-30px;
}
#submit {
    margin: 0 auto;
    position: relative;
    left:30px;
}
.button {
    background-color: rgb(34, 34, 37);
    border: none;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
#result {
    margin: 0 auto;
    border: 0;
    width:300px;
    position: relative;
    top:10px;
}
.sechighlight {
    background-color: #f7f6f1;
    margin: auto;
    position: absolute;
    top: 5%;
    width: 80%;
    left: 10%;
}
#coursedesc {
    text-align: justify;
}