<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>What's my digit?</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}" />
    <style>
        #sheet {
            /*If these are here then drawing won't align cursor 
            height: 300px;
            width: 300px; */
            background: rgb(26, 19, 19);
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border:5px solid black;
            cursor: crosshair;
        }
    </style>
  </head>
  <body>
    <div id="container">
        <div class="sechighlight">
            <div class="container sec">
                <h3>Introduction</h3>
                <div id="coursedesc" style="font-size: 13pt">
                    Handwriting recognition is one of the compelling and fascinating works because every individual in this world has their own style of writing. It is the capability of the computer to identify and interpret handwritten digits or characters automatically.
                    <br>This implementation is done using three different machine learning classification algorithms namely K Nearest Neighbors, Support Vector Machines, Random Forest Classifier
                </div>
            </div>
        </div>
        <div id="inputLabel">Enter any digit</div>
        <canvas id="sheet" width="200" height="200"></canvas>
        <div id="resultContainer">
            <div id="result-container">
                <button type="button" onclick="clearDrawing()" id="clear" class="button">Clear!</button>
                <button type="button" onclick="submitImage()" id="submit" class="button">Submit!</button>
                <h2 id="result"></h2>
            </div>
        </div>  
        <div id="description">
            <h1>Description</h1>
            <hr>
            <div id="SVM">
                <div id="bold">1. Support Vector Machine (SVM) Classifier:</div>
                Support Vector Machine is a supervised machine learning technique which is applied for classification and regression. 
                It is nothing but the representation of the input data into points in the space and mapped thus classifying them into classes. 
                The SVM classifies or separates the classes using the hyper-plane concept. The separation margin should be equidistant from the classes.
                Read more about it <a href="https://tinyurl.com/ya44u2mr">here</a>
            </div>
            <hr>
            <div id="KNN">
                <div id="bold">2. K-Nearest Neighbor (KNN) Classifier:</div>
                K-Nearest Neighbors is an algorithm in which the best estimate among all the values is the value that has maximum number of neighbors with smallest Euclidian or Hamming distance.
                KNN is an instance-based learning. To work well, this algorithm requires a training dataset which is a set of well labelled data points.
                Read more about it <a href="https://tinyurl.com/y9veobjv">here</a>
            </div>
            <hr>
            <div id="RFC">
                <div id="bold">3. Random Forest Classifier:</div>
                Random Forest Classifier is an ensemble method used for classification or regression.
                Random Forest Classifier works using a huge collection of de-correlated decision trees.
                Read more about it <a href="https://tinyurl.com/y5h5x93u>">here</a>
            </div>
            <hr>
        </div>
    </div>   
  </body>
  <!-- Credits to https://github.com/greydanus/pythonic_ocr for this "Fork me on github" option -->
  <a href="https://github.com/CSALS/Digit-Recognizer" target="_blank_"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  <!-- <a href="https://github.com/CSALS/Digit-Recognizer" target="_blank_">Fork me</a> -->
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="./static/app.js"></script>
</html>